package ${package}.${moduleName}.dao;

import ${package}.${moduleName}.entity.${className};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;

/**
 * <p>
 * ${comments}Mapper接口
 * </p>
 *
 * @author ${author}
 * @since ${datetime}
 */
public interface ${className}Mapper  extends BaseMapper<${className}>{
}

